{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ static 'users/css/style.css' }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        <main class="main">
            {% block content %}{% endblock %}
            <div class="waveWrapper waveAnimation">
                <div class="waveWrapperInner bgTop">
                    <div class="wave waveTop" style="background-image: url('../../../media/wave/wave-top.png')"></div>
                </div>
                <div class="waveWrapperInner bgMiddle">
                    <div class="wave waveMiddle" style="background-image: url('../../../media/wave/wave-mid.png')"></div>
                </div>
                <div class="waveWrapperInner bgBottom">
                    <div class="wave waveBottom" style="background-image: url('../../../media/wave/wave-bot.png')"></div>
                </div>
            </div>
        </main>
    </div>
    <script src="{{ static 'users/js/main.js' }}"></script>
</body>
</html>