{% extends 'users/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <section class="form_auth_section">
                <img class="form__content-head form__content-head-registration" id="griffon" src="pictures/griffon/16.png" alt=">
                <div class="form__content form__content-registration">
                    <form class="form__auth" action="#" method="post">
                        {% csrf_token %}
                        <div class="form__login form__item">
                            <label class="form__text" for="{{ form.username.id_for_label }}"><i class='bx bx-user'> </i>{{ form.username.label }}</label>
                            {{ form.username }}
                             <label class="form__text wrong"> {{ form.username.errors }}</label>
                            <!-- Если что-то пошло не так, то используем класс wrong. -->
                        </div>
                        <div class="form__mail form__item">
                            <label class="form__text" for="{{ form.email.id_for_label }}"><i class='bx bx-envelope'></i>{{ form.email.label }}</label>
                            {{ form.email }}
                             <label class="form__text wrong">{{ form.email.errors }}</label>
                            <!-- Если что-то пошло не так, то используем класс wrong. -->
                        </div>
                        <div class="form__password form__item">
                            <label class="form__text" for="{{ form.password1.id_for_label }}"><i class='bx bx-lock-alt'></i>{{ form.password1.label }}</label>
                            {{ form.password1 }}
                            <label class="form__text wrong">{{ form.password1.errors }}</label>
                            <!-- Если что-то пошло не так, то используем класс wrong. -->
                        </div>
                        <div class="form__password form__item">
                            <label class="form__text" for="{{ form.password2.id_for_label }}"><i class='bx bx-lock-alt'></i>{{ form.password2.label }}</label>
                            {{ form.password2 }}
                            <label class="form__text wrong">{{ form.password2.errors }}</label>
                            <!-- Если что-то пошло не так, то используем класс wrong. -->
                            <button class="form__auth-button button" type="submit" name="form_auth_submit">Регистрация</button>
                            <a href="" class="where_account">Есть аккаунт?</a>
                        </div>
                    </form>

                    <div class="form__secret">
                        <label>Пароль</label>
                        <input type="password" name="auth_pass" placeholder="хороший пароль" required >
                        <button class="form__auth-button" type="submit" name="form_auth_submit">Войти</button>
                    </div>
                </div>
            </section>
{% endblock %}